
Data/

ff_racing.egg-info/

simple_f1tenth_drl.egg-info/

*.nbc

*.pyc

ff_racing/Planners/__pycache__/TrackLine.nearest_point_on_trajectory_py2-227.py38.nbi

ff_racing/Planners/__pycache__/TrackLine.nearest_point_on_trajectory_py2-228.py38.nbi

ff_racing/Planners/__pycache__/TrackLine.nearest_point_on_trajectory_py2-226.py38.nbi

*.nbi

.DS_Store
